@font-face {
  font-family: 'Lucida Handwritten';
  src: url('/fonts/LHANDW.TTF');
}

* {
  box-sizing: border-box;
}

h2,
h3 {
  font-weight: 800;
}

img {
  height: 100%;
  width: 100%;
  max-width: -webkit-fill-available;
  max-height: -webkit-fill-available;
}
