@font-face {
  font-family: 'Lucida Handwritten';
  src: url('/fonts/LHANDW.TTF');
}

* {
  box-sizing: border-box;
}

h2,
h3 {
  font-weight: 800;
}

img {
  width: fit-content;
  max-width: -webkit-fill-available;
}
