@use './colors.scss' as *;

@mixin Padding($padding: 1rem) {
  padding: 0;
  @include Tablet {
    padding: $padding;
  }
}

@mixin BoxShadow($shadow) {
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin SecondaryTheme {
  color: $secondaryFontColor;
  background-color: $secondaryColor;
}

@mixin Flex($direction: unset, $justify: unset, $align: unset) {
  gap: 0.5rem;
  display: flex;

  @if ($direction != 'unset') {
    flex-direction: $direction;
  }
  @if ($justify != 'unset') {
    justify-content: $justify;
  }
  @if ($align != 'unset') {
    align-items: $align;
  }
  @content;
}

@mixin Tablet {
  @media (min-width: 480px) {
    @content;
  }
}

@mixin Laptop {
  @media (min-width: 720px) {
    @content;
  }
}

@mixin Desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin Desktop-plus {
  @media (min-width: 1280px) {
    @content;
  }
}
