$gap: 1rem;
$gapSmall: 0.5rem;
$iconSize: 48px;
$headerHeight: 50px;
$footerHeight: 58px;
$heightOffset: calc($headerHeight + $footerHeight);
$maxContentHeight: calc(100svh - $heightOffset);
$navigationHeight: 100px;
$navigationWidth: 140px;
